.dropdown {
  // padding: 2px 6px;
  border-radius: 4px;
  margin-top: 4px;
  // max-width: 340px;
  min-width: 100%;
  background-color: #ffffff;
  opacity: .9;
  max-height: 264px;
  overflow-y: auto;
  scrollbar-color: hsl(0, 52%, 36%);
  scrollbar-width: thin;
  box-shadow: 0 2px 7px #316c59;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 400;
    font-size: .6em;
    li {
      cursor: pointer;
      font-size: 14px;
      padding: 3px 6px 5px;
      color: #3b3b3b;
    }
    @media only screen and (max-width: 600px) {
      li {
        font-size: 12px;
        padding: 1px 3px 3px;
      }
    }
    li:hover {
      color: #ffffff;
      background-color: #316c59;
      // background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgb(255, 244, 244) 48%, rgba(255,255,255,1) 85%);
    }
  }
}