.title {
  font-size: 3rem;
  line-height: 1.15;
  text-align: center;
  margin: 0 0 1em;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.view {
  text-align: center;
  margin-top: 3em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.panelButton {
  text-align: center;
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 22px;
  margin: 0 8px;
  bottom: 9px;
  left: 9px;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  opacity: .6;
  transition: 600ms;
}

.panelButton:hover {
  opacity: 1;
}