.layout {
  display: grid;
  // box-sizing: border-box;
  grid-template-rows: auto 1fr auto;
  // overflow: hidden;
  // height: 100vh;
  max-height: 100vh;
}

.main {
  // padding: 0 0 3rem;
  padding: 0;
}
