.searchInput {
  width: 400px;
  display:  flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .searchInput {
    width: 260px;
  }
}

.inputContainer {
  position: relative;
}

.input {
  border: 1px solid #cccccc; //цвет рамки
  border-radius: 3px; //закругление углов (общее)
  -webkit-border-radius: 3px; //закругление углов (Google Chrome)
  -moz-border-radius: 3px; //закругление углов (FireFox)
  -khtml-border-radius: 3px; //закругление углов (Safari)
  background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
  outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
  height: 2.2rem; // высота на свое усмотрение
  min-width: 100%; // ширина на свое усмотрение
  color: #424242; //цвет шрифта в обычном состоянии
  font-size: 16px; // Размер шрифта
  // font-family: Tahoma; // Стиль шрифта
  padding-left: 8px;
  opacity: .8;
  transition: 1700;
  padding-right: 35px;
}

@media only screen and (max-width: 600px) {
  .input {
    // height: 2.5em;
    font-size: .6;
  }
}

.input:focus {
  opacity: .9;
  color: #000000;
  // border: 1px solid #316c59;
  box-shadow: 0 2px 7px #316c59;
}

.iconContainer {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}

.loader {
  position: relative;
  height: 20px;
  width: 20px;
}