.button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #ffffffd8;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}